html, body {
  height: 100%;
  font-size: 1em;
  font: 14px/1.5 "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
}

div, a{
  text-decoration: none;
  color: #666;
}

#main {
  position: relative;
  height: 100%;
  overflow: hidden;
}
