@import "./Header.scss";

html, body {
  height: 100%;
  font-size: 1em;
}

div, a{
  text-decoration: none;
  color: #666;
}

#main {
  position: relative;
  height: 100%;
  overflow: hidden;
  #map {
    height: 100%;
    width: 100%;
    background-color: #ccc;
  }
}
